<div class="">

    <div class="">
      <div class="content">
        <a class="header">{{player.currentMusic.name}}</a>
        <div class="meta">
          <span class="date">{{player.currentMusic.uri}}</span>
<!-- //onyb8tCN-RQ -->
        </div>
        <div class="">
          <iframe id="ytplayer" type="text/html" width="480" height="270"
            ng-src="{{player.currentMusic.uri}}"
            frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  <div class="">
    <button class="" ng-click="player.play()">
      play
      <i class=""></i>
    </button>
    <button class="">
      pause
      <i class=""></i>
    </button>
    <button class="">
      shuffle
      <i class=""></i>
    </button>
  </div>

  <form class="" ng-submit="player.add()">
    <div class="">
      <input type="text" ng-model="player.musicName" placeholder="Name of music">
    </div>
    <div class="">
      <input type="text" ng-model="player.musicUri" placeholder="Url of music">
    </div>
    <button id="player.add" class="ui button" type="submit">add</button>
  </form>

  <h2>Play List</h2>

  <table class="">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in player.queue">
      <td>{{item.name}}</td> <td>{{item.uri}}</td></tr>
    </tbody>
  </table>

</div>
